.footer {
  background:#7daa6f;
  color: #66c674;
  padding: 0.3rem 2rem 0.3rem;
  font-family: "Poppins", sans-serif;
  border-top: 2px solid rgb(91, 171, 98);
}

/* TOP CONTAINER */
.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2.5rem;
  max-width: 1200px;
  margin: 0 auto 0.8rem;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1 1 250px;
}

.footer-logo-img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.footer-logo h2 {
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  font-weight: 700;
  margin: 0;
  color: #33b059;
}

.footer-tagline {
  margin-top: 4px;
  color: #49e44b;
  font-weight: 600;
  font-size: clamp(0.75rem, 1.5vw, 0.9rem);
  letter-spacing: 1px;
}

/* LINKS AREA */
.footer-links {
  display: flex;
  flex: 2 1 400px;
  justify-content: flex-end;
  gap: 3rem;
  flex-wrap: wrap;
}

.footer-links h4 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  color: #37d451;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin: 0.4rem 0;
}

.footer-links a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #d4af37;
}

/* BOTTOM LINE */
.footer-divider {
  border: none;
  border-top: 1px solid #333;
  margin: 0.8rem 0;
}

.footer-bottom {
  text-align: center;
  color: #aaa;
}

/* SOCIAL ICONS */
.social-icons {
  margin-bottom: 1rem;
}

.social-icons a {
  display: inline-block;
  margin: 0 8px;
  font-size: 1.25rem;
  color: #f0f0f0;
  transition: 0.3s;
}

.social-icons a:hover {
  color: #d4af37;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-top {
    text-align: center;
    justify-content: center;
  }

  .footer-links {
    justify-content: center;
    gap: 2rem;
  }

  .footer-logo {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 2.5rem 1.5rem;
  }

  .footer-links {
    flex-direction: column;
    gap: 1.3rem;
  }

  .social-icons a {
    margin: 0 5px;
    font-size: 1.1rem;
  }
}
