.contact-page {
  background: #c9eabc;
  padding: 50px 20px;
}

/* HEADER */
.contact-header {
  text-align: center;
  margin-bottom: 40px;
}

.contact-header h1 {
  font-size: 36px;
  color: #1b7f5c;
}

.contact-header p {
  max-width: 700px;
  margin: auto;
  color: #555;
}

/* MAIN */
.contact-main {
  display: flex;
  gap: 40px;
  max-width: 1100px;
  margin: auto;
  flex-wrap: wrap;
}

/* LEFT */
.contact-left {
  flex: 1;
}

.contact-left h2 {
  color: #1b7f5c;
  margin-bottom: 15px;
}

.contact-points {
  list-style: none;
  padding: 0;
}

.contact-points li {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  color: #333;
}

.contact-points svg {
  color: #3ba776;
}

/* HOURS */
.working-hours {
  margin-top: 25px;
  background:#c9eabc;
  padding: 15px;
  border-radius: 10px;
}

.working-hours h3 {
  color: #1b7f5c;
  margin-bottom: 8px;
}

/* FORM */
.contact-box {
  flex: 1;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.form-row {
  display: flex;
  gap: 10px;
}

.contact-form button {
  width: 100%;
  background: #3ba776;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #2e8f63;
}

/* INFO CARDS */
.contact-info-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 50px;
}

.info-card {
  background: white;
  padding: 25px;
  border-radius: 14px;
  text-align: center;
}

.icon-circle {
  background: #3ba776;
  color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 15px;
}

.info-card a {
  color: #1b7f5c;
  text-decoration: none;
  font-weight: 600;
}

/* MAP */
.map-section {
  margin-top: 40px;
}

.map-section iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 12px;
}

/* WHATSAPP */
.whatsapp-float {
  position: fixed;
  bottom: 25px;
  right: 25px;
  background: #25d366;
  color: white;
  padding: 14px;
  border-radius: 50%;
  z-index: 1000;
}
